<h1><%= @name %></h1>
<h3>DOB: <%= @dob %></h3>
<h3>Country of origin: <%= @country %></h3>
<div class="frames">
<iframe src="<%=@wiki_page%>"></iframe>
<iframe src="<%=@discography%>"></iframe>
</div>
