<div class="container">
<h1>Planets!</h1>


  <% @planets.each do |planet| %>
  <ul>
    <li><%= planet.name %></li>
    <img src="<%= planet.image_url %>">
    <li>Mass: <%= planet.mass %></li>
    <li>Diameter: <%= planet.diameter %></li>
    <li>Life? <%= planet.life %></li>
  </ul>
  <% end %>
</div>
