<div class="container">

<form action="/squares/new" method="get">
  <button class="button" type="submit">Creat New Square</button>
</form>
Click on square to edit or delete...




<% @squares.each do |square| %>

<form action="/squares/<%=square.id%>" method="get">
  <button class="sq_but" type="submit">
  <div class="squares" style="width: <%= square.side_length %>px; height: <%= square.side_length %>px;
      background-color:  <%= square.color %>; border-radius: <%= square.border_radius %>px">

  </div>
  </button>
</form>
<% end %>


</div>
