<h2>Edit ye square</h2>

<form action="/squares/<%= @square.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name="_method" value="put">
  <input type="text" name='side_length' value='<%= @square.side_length %>'>
  <input type="text" name='border_radius' value='<%= @square.border_radius %>'>
  <input type="text" name='color' value='<%= @square.color %>'>
  <input type="submit">
</form>
