<div class="box" style="width: <%= @width %> height: <%= @height%> background-color: <%= @color %>">



<!--   <div style="float:left; width: <%= @width %>; height: <%= @height %>; background-color: <%= @color %>">
  </div>

<%= @height %>px
<%= @width %>px
<%= @color %>
< <%= @rectangles %>

<% @rectangles.each #do |box| %>
  <h1><%= box %></h1>
<% #end %>

-->




