<h2><%= @planet.name %></h2>

<img  src ="<%= @planet.image_url %>" alt="<%= @planet.name %>">

Diameter (in kM): <%= @planet.diameter %>
Mass (in metric tons): <%= @planet.diameter %>
Life: <%= @planet.diameter %>
<br/>
<a href="<%= @planet.id %>/moons/new">Add Moon</a>
<br/>

<a href="<%= @planet.id %>/edit">Edit</a>
<br/>

<form action="/planets/<%= @planet.id %>" method='post'><%= token_tag %><input type="hidden" name='_method' value = 'delete'><button>Delete Planet</button></form>

<br/>

<a href="/planets">Back to Index</a>
