<h1><%= @planet.name %></h1>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Mass (in Earths)</th>
    <th>Diameter (in Earths)</th>
    <th>Does it have life?</th>
    <th>List of Moons</th>
    <th>Options</th>
  </tr>
  <tr>
    <td><img src="<%= @planet.image_url %>"></td>
    <td><%= @planet.name %></td>
    <td>~ <%= @planet.mass %> Earths</td>
    <td>~ <%= @planet.diameter %> Earths</td>
    <td>
        <% if @planet.life %>
        There's life!
        <% else %>
        No life...
        <% end %>
    </td>
    <td>
        <% @planet.moons.each do |moon| %>
          <div class="moon_rows">
          <p><%= moon.name %></p>

            <%= form_tag(edit_planet_moon_path(@planet, moon), method: "get") do %>
              <%= submit_tag "Edit Moon" %>
            <% end %>

            <%= form_tag(planet_moon_path(@planet, moon), method: "delete") do %>
              <%= submit_tag "Delete Moon" %>
            <% end %>
          </div>
        <% end %>
    </td>
    <td>
      <%= form_tag(new_planet_moon_path(@planet), method: "get") do %>
        <%= submit_tag "Add Moon" %>
      <% end %>

      <%= form_tag(edit_planet_path(@planet), method: "get") do %>
        <%= submit_tag "Edit Planet" %>
      <% end %>

      <%= form_tag(planet_path(@planet), method: "delete") do %>
        <%= submit_tag "Delete Planet" %>
      <% end %>

    </td>
  </tr>
</table></br>



<a href="/planets"><button>Back to Home</button></a>
