<h2><%= @planet.name %></h2>
<h4>Image URL</h4>
<p><%= @planet.image_url %></p>
<h4>Planet Diameter</h4>
<p><%= @planet.diameter %></p>
<h4>Mass</h4>
<p><%= @planet.mass %></p>
<h4>Life?</h4>
<p><%= @planet.life %></p>
