
<div class="transbox">
<h1>Edit <%= @planet.planet_name %><br>
Is there life? If 'yes' check the box <input type="checkbox" name="planets[life]"> 
</h1>

<img src="<%= @planet.planet_url %>">

<form action="/planets/<%= @planet.id %>/" method="post">
  <input type="hidden" name="_method" value="put">
  <%= token_tag %>
<input type="text" name="planets[planet_name]" placeholder="Planet Name" value="<%= @planet.planet_name %>" />
<br>

<input type="text" name="planets[planet_url]" placeholder="Planet pic URL" value="<%= @planet.planet_url %>" />
<br>

<input type="text" name="planets[diameter]" placeholder="Diameter (km)" value="<%= @planet.diameter %>" />
<br>

<input type="text" name="planets[mass]" placeholder="Planet Mass (kg)" value="<%= @planet.mass %>" />
<br>

<br>
<br>
   <input type="submit" value="Submit Changes">
</form>

<br>

<form action="/planets" method="get">
  <input type="submit" value="See All Planets">
 </form>
<br>
</div>