<h1>This is the index of planets.  It will show all the planets In a table.  Each row should have planet_name, a picture of a planet, mass, diameter, life columns.  The last column should have an Edit button, a Delete button, and a Show button.  Have a Button to add a planet.  Have a link to delete a planet next to planet.  Have a link to edit a planet.  Planets should be displayed in a table.  Give a background.  Use css-tricks for background image.</h1>

<a href="planets/new">Make a new planet!  This should be a button GET planets/new  planets#new</a>



<form action="/planets/new" method="get">
  <input type="submit" value="Create new planet">
</form></br>

<% if @planets.count == 0 %>
<div class="no_planets">
<p>There aren't any planets!</p>
<p>Click the button to create a new planet!</p>
</div>
<% else %>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Diameter
    </th>
    <th>
      Mass
    </th>
    <th>
      Life?
    </th>
    <th>
      Image
    </th>
    <th>
      Options
    </th>
  </tr>
  <% @planets.each do |planet| %>
  <tr>
    <td>
      <a href="/planets/<%= planet.id %>">
      <%= planet.planet_name %>
      </a>
    </td>
    <td>
      <%= planet.diameter %> km
    </td>
    <td>
       <%= planet.mass %> kg
    </td>
    <td>
      <%= if planet.life
          "Ground Control to Major Tom. Let's move there. There's life!"
          else
          "No life there. What a drag"
          end
      %>
    </td>
    <td>
      <img src="<%= planet.planet_url %>">
    </td>
    <td>
      <form action="/planets/<%= planet.id %>/edit" method="get">
        <input type="submit" value="Edit this planet">
      </form>
      <form action="/planets/<%= planet.id %>" method="post">
        <%= token_tag %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete planet">
      </form>
    </td>
  </tr>
  <% end %>
</table>
<% end %>



