<h1>This is the index of planets.  It will show all the planets In a table.  Each row should have planet_name, a picture of a planet, mass, diameter, life columns.  The last column should have an Edit button, a Delete button, and a Show button.  Have a Button to add a planet.  Have a link to delete a planet next to planet.  Have a link to edit a planet.  Planets should be displayed in a table.  Give a background.  Use css-tricks for background image.</h1>

<a href="planets/new">Make a new planet!  This should be a button GET planets/new  planets#new</a>


<% @planets.each do |planet| %>


<a href="/planets/<%= planet.id %>/edit">
  
    <p> <%= planet.planet_name %></p>
  <img src="<%= planet.planet_url %>" >
    <p><%= planet.diameter %></p>
    <p><%= planet.mass %></p>
    <p><%= planet.life %></p>
    
<% end %>
</div>


