


<%= @name %>

<%= @country %>

<%= @disc %>

<a href=<%= @wiki %>><%= @name %> Wikipedia</a>

<h3>You should be listening to Led Zeppelin anyway...</h3>
<iframe width="640" height="360" src="//www.youtube.com/embed/PD-MdiUm1_Y" frameborder="0" allowfullscreen></iframe>
