<DOCTYPE! html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
    <title>Pair Bot</title>
  </head>
  <body>
    <div class="start">
      <h1><%= @message %></h1>
    </div>
    <div class="button">
      <a href=<%= @yeslink %>><%= @yesmessage %></a>
     </div>
    <div class = "button">
      <a href=<%= @nolink %>><%= @nomessage%></a>
    </div>
  </body>

</html>
