<h2>Moons!</h2>

<ul>
  <% @moons.each do |moon| %>
    <li>
      <a href="/planets/<%= @planet.id %>/moons/<%= moon.id %>">
        <%= moon.name %>
      </a>
     
  <% end %>
</ul>

<a href="/planets/<%= @planet.id %>/moons/new">
  New Moon
</a><br/>

<a href="/planets/<%= @planet.id %>">Back</a><br/>
<a href="/planets">Home</a>