<ul>
  
  <li>
    <%= @moon.name %> orbits <%= @moon.planet.name %>
  </li>
<form action="/planets/<%= @planet.id %>/moons/<%= @moon.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <button type='submit'>Destroy</button>
</form>
    
  
</ul>




<a href="/planets/<%= @planet.id %>/moons">Back</a>
<a href="/planets">Home</a>
