<h1><a href=<%= @reddit2 %>><%= @reddit1 %></a></h1>
<h1><a href=<%= @ycombinator2 %>><%= @ycombinator1 %></a></h1>

<h1><a href=<%= @macrumors2 %>><%= @macrumors1 %></a></h1>

<h1><a href=<%= @gizmodo2 %>><%= @gizmodo1 %></a></h1>

<h1><a href=<%= @techcrunch2 %>><%= @techcrunch1 %></a></h1>

