Your info
<br/>

<%= %>
<br/>
<%= @name %><br/>
<%= @country %><br/>
<%= @type %><br/>


Lyrics: <%= @lyrics %> <br/> 
<a href="<%= @homepage %>"> homepage </a><br/>
<a href="<%= @youtube %>"> youtube </a><br/>

<br/>



<!--<img src="<%= @image %>" alt=""> <br/> -->
