<h2><%= @planet.name %></h2>

<p><%= @planet.diameter %></p>
<p><%= @planet.mass %></p>
<p><%= @planet.life %></p>
<p><%= @planet.moons %></p>

<!-- <form action="/planets/<%= @planet.id%>" method="post">
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="DELETE">
</form> -->
