<p>index.html.erb<p>

<p>display all planet objects maybe in block form, with black background or image to mimic a solar system?<p>

  <p>will use a &lt;ul> to put planet objects in an <strong>inline</strong> display</p>

<% @planets.each do |planet| %>
<table class="planet_table">
<tr>
  <td>
    <a href="/planets/<%= planet.id %>/edit"><img class="index_img" src="<%= planet.image_url %>" alt="<%= planet.name %>"></a>
  </td>
</tr>

</table>
<table>
  <tr>
    <td>Name</td><td><%= planet.name %></td>
  </tr>
  <tr>
    <td>Mass</td><td><%= planet.mass %></td>
  </tr>
    <tr>
    <td>Diameter</td><td><%= planet.diameter %></td>
  </tr>
    <tr>
    <td>Life-signs</td><td><%= planet.life %></td>
  </tr>

  <% end %>
</table>
