<p>edit.erb.html -- returns an html form for editing params[:id] element</p>


<h2>Square id: <%= @square.id %> </h2>
<div style="width: <%= @square.side_length %>px;
  height: <%= @square.side_length %>px;
  border-radius: <%= @square.border_radius %>px;
  background-color: <%= @square.color %>;
  margin: 10px;">
</div>


<div>
  <form action="/squares/<%= @square.id %>" method="post">
  <%= token_tag %>
  <input type="hidden" name="_method" value="put">
  <input type="text" name="side" value="<%= @square.side_length %>">
  <input type="text" name="radius" value="<%= @square.border_radius %>">
  <input type="text" name="color" placeholder="<%= @square.color %>">
  <input type="submit" value="Edit square">
</form>

<form action="/squares/<%= @square.id %>" method="post">
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete square">
</form>
</div>


<h1>Form Helpers Utterly Riveting</h1>
<%= render'form' %>
