<h1><%= @name %></h1>

<div class="info">
<h3><%= @name %> started in <%= @dob %></h3>
<h3>They are from: <%= @country %></h3>
</div>

<div class="frames">
<iframe src="<%=@wiki_page%>"></iframe>
<iframe src="<%=@discography%>"></iframe>
</div>
