



        <form action="<%= new_planet_path %>" method="get">
          <button class="new_but" type="submit">Create New Planet</button>
        </form>



        <% @planets.each do |planet| %>

                <a class="planet_link" href="<%=planet_path(planet.id)%>"><%= planet.name.upcase %></a>
                <img class="pi_small" src="<%=planet.image_url%>">
                <p class="to_s"><%=planet.to_s%></p>

        <% end %>



