<h2><%= @user.username %></h2>

<% @user.meows.each do |meow| %>
  <p>
    <%= meow.message %>
    <form action="/users/<%= @user.id %>/meow/<%= meow.id %>" method= 'post'>
      <input type="hidden" name='_method' value='delete'>
      <button type='submit'>Delete</button>
    </form>
  </p>
<% end %>

<a href="/users/<%= @user.id %>/meows/new">
  <h2>
    Caw Time
  </h2>
<a>

