<div class = background>
  <h1>Links</h1>

  <p> <%= @link_titles %> </p>

  <div class=link><a href "<%= @hyperlink[0] %>"> <%= @link_titles[0] %> </a></div>

  <div class=link><a href <%= @hyperlink[1]%>> <%= @link_titles[1] %> </a></div>

  <div class=link><a href <%= @hyperlink[2]%>> <%= @link_titles[2] %> </a></div>

  <div class=link><a href <%= @hyperlink[3]%>> <%= @link_titles[3] %> </a></div>

  <div class=link><a href <%= @hyperlink[4]%>> <%= @link_titles[4] %> </a></div>
</div>


