<h1>Stock</h1>


<h2><%= @symbol %><h2>
<h3><%= @date %><h3>
<h3 style="color: blue">Open: <%= @open %></h3>
<h3 style="color: green">High: <%= @high %></h3>
<h3 style="color: red">Low: <%= @low %></h3>
<h3 style="color: orange">Close: <%= @close %></h3>
<div style="height: <%= @high %>; width: 50px; background-color; green"></div>
