<p>
  <strong>Title:</strong>
  <%= @planet.name %>
</p>
<p>
  <strong>Text:</strong>
  <%= @planet.life %>
</p>
<%= link_to 'Back', planets_path %>


<h2>
  <strong>Name:</strong>
  <%= @planet.name %>
</h2>
<p>
  <strong>Image URL:</strong>
  <%= @planet.image_url %>
</p>
<p>
  <strong>Diameter:</strong>
  <%= @planet.diameter %>
</p>
<p>
  <strong>Mass:</strong>
  <%= @planet.mass %>
</p>
<p>
  <strong>Life?</strong>
  <%= @planet.life %>
</p>
