
<div class="top">
  <%= @message %>

</div>




<div>

  <div class="delit">
    (Clicking on a lunch will remove it from list)
  </div>

  <table>

    <tr class="trow">
      <td>Lunch</td>
      <td>Restaurant</td>
      <td>Picked Count</td>
    </tr>

  <% @all_lunches.each do |lunch| %>

    <tr>
      <td><a href="/remove/<%= lunch['id']%>"><%= lunch["lunch_name"]%></a></td>
      <td><%= lunch["restaurant"]%></td>
      <td class="picked"><%= lunch["picked_count"]%></td>
    </tr>

  <% end %>

  </table>

  <form action="/lunches/new" method="get">
  <input type="submit" value="Create New Lunch" class="fbut">
  </form>

  <form action="/lunches/random" method="get">
  <input type="submit" value="Pick One At Random" class="fbut">
  </form>


  <% if @random_flag == 1 %>
  <div class="back">
  <a href="/" class="link">Back</a>
  </div>
  <% end %>

</div>
