<div class='container'>
<div><h1>Planets</h1></div>
<ul>
  <% @planets.each do |planet| %>
  <div class="two columns">
    <%= link_to 'Show', planet_path(planet) %>
    <%= link_to 'Edit', edit_planet_path(planet) %>
    <%= link_to 'Delete', planet_path(planet), method: :delete %><br>
    <%= link_to 'Add A Planet', new_planet_path(planet) %>
  </div>
    <li>
      <h3><%= planet.name %></h3>
      <ul>
        <li><%= planet.image_url %></li>
        <li><%= planet.diameter %></li>
        <li><%= planet.mass %></li>
        <li><%= planet.life %></li>
        <h4>Moons</h4>
        <ul>
          <li></li>
        </ul>
      </ul>
    </li>
  <% end %>
</ul>
</div>
