<h1>I've Got These Squarez</h1>

<%= link_to 'Hip to be Squarez', controller: 'squares' %>
<br>
<%= link_to 'Add a Square', new_square_path %>

<!-- <div style="height:<%= @side_length %>px; width:<%= @side_length %>px; border-radius:<%= @border_radius %>; background-color:<%= @color %>">
</div> -->
