
<%= link_to 'Back', squares_path %>

<div id="square" style="height:<%=@square.side_length%>px; width:<%=@square.side_length%>px; border-radius:<%=@square.border_radius%>; background-color:<%= @square.color %>; float:left;">
</div>
