<h2><%= @user.username %></h2>

<ul>
    <% @user.splarkles.each do |splarkle| %>
    
    <li>
        <%= splarkle.message %>
        <form action = "/users/<%= @user.id %>/splarkles/<%= splarkle.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">DELETE</button>
        </form>

    </li>
    
    <% end %>
</ul>

<h2><a href="/users/<%= @user.id %>/splarkles/new">New Splarkle</a></h2>
