<h2>Info for <%= @name %></h2>

<p> <a href="<%= @urls %>">Official Site</a> </p>
<p> <a href="<%= @wiki %>"><%= @name %>'s Wikipedia</a> </p>
<p> <a href="<%= @discography %>">Discopgrahy</a> </p>
<p> <a href="<%= @discogs %>">Discogs</a> </p>
