<%= @squares.each do |square| %>
  <div class="square" style="background-color:<%=square.color%>px; border-radius:<%=square.border_radius%>px; height:<%=square.side_width%>px; width:<%=square.side_width%>px></div>
