<div class="show" style="

  width: <%= @square.side_length %>px;
  height: <%= @square.side_length %>px;
  border-radius: <%= @square.border_radius %>px;
  background-color: <%= @square.color %>;">

</div>

<button class="showbutton" style="

  width: <%= @square.side_length %>px;
  height: <%= @square.side_length %>px;
  border-radius: <%= @square.border_radius %>px;
  background-color: <%= @square.color %>;">

  <a href="/squares">main page</a>
</button>
