<span style="display:inline-block;border:<%= @border %>px; width:<%= @length %>;solid <%= @color %>;"></span>

<%= @new_square %>

<span> <div="height:<%= @length %>px;width:<%= @length %>px;color:<%= @color %>display:inline-block;"></span>

<div class="square">
  Square
</div>

<div class="square1">
<div class="square1" style="width:<%= @width %>"></div>
</div>



<div id="squaree"><%= @new_square %></div>

<div id="square1" style="background-color:<%=@color%>;height:<%=@length%>px;width:<%=@length%>px;float:left;"></div>

<div id="square1" style="background-color:<% @color %>;height:<% @length %>px;width:<%= @length %>px;float:left;"></div>