<h1>Form Helpers (BORING)</h1>

<%= form_tag("/squares", method: "post") do %>
<%= label_tag("square[color]", "Color:") %>
<%= text_field_tag("square[color]") %>
<%= label_tag("square[border_radius]", "Border Radius:") %>
<%= text_field_tag("square[border_radius]") %>
<%= label_tag("square[side_length]", "Side Length:") %>
<%= text_field_tag("square[side_length]") %>
<%= submit_tag("Create Square") %>
<% end %>

<h1>Form Helpers (Rivetting)</h1>
<%= render 'form' %>
