<h3>A Week of Stock Opening Prices for <%= @name.upcase %>
</h3>

<!-- <div class="chart"> -->
  <div class="1" style="width: <%= @d1 %>px">  </div>
  <p> Today: <%= @d1 %> </p>
 <br><br><br>
  <div class="2" style="width: <%= @d2 %>px">  </div>
  <p> -1 Day: <%= @d2 %></p>
  <br><br><br>
  <div class="3" style="width: <%= @d3 %>px">  </div>
  <p> -2 Days: <%= @d3 %></p>
 <br><br><br>
  <div class="4" style="width: <%= @d4 %>px"></div>
  <p> -3 Days: <%= @d4 %></p>
 <br><br><br>
  <div class="5" style="width: <%= @d5 %>px">  </div>
  <p> -4 Days: <%= @d5 %></p>
 <br><br><br>
  <div class="6" style="width: <%= @d6 %>px"></div>
  <p> -5 Days: <%= @d6 %></p>
 <br><br><br>
  <div class="7" style="width: <%= @d7 %>px"></div>
   <p> -6 Days: <%= @d7 %></p>

<!-- </div> -->




