<h1>Welcome to index.erb</h1>
<a href="<%=@reddit_link%>"><%=@reddit%></a>
<a href="<%=@y_combinator_link%>"><%=@y_combinator%></a>
<a href="<%=@tech_crunch_link%>"><%=@tech_crunch%></a>
<a href="<%=@mac_rumors_link%>"><%=@mac_rumors%></a>
<a href="<%=@gizmodo_link%>"><%=@gizmodo%></a>
