<h1>Planets of the Universe ASSEMBLE!</h1>

<table>
  <thead>
    <th>Image</th>
    <th>Name</th>
    <th>Diameter (km)</th>
    <th>Mass (kg x 10<span style="vertical-align:super">23</span>)</th>
    <th>Life Present?</th>
    <th>Make like Alderan?</th>
  </thead>
  <% @planets.each do |planet| %>
  <tbody>
    <tr>
      <td><img class="table_img" src="<%= planet.image_url %>"></td>
      <td><a href="planets/<%= planet.id %>"><%= planet.name %></td>
      <td><%= planet.diameter %></td>
      <td><%= planet.mass %></td>
      <td><%= planet.life.to_s.capitalize %></td>
      <td>
        <form action="/planets/<%= planet.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <%= token_tag %>
          <button type="submit"><img class='alderan' src='http://static.ddmcdn.com/gif/death-star-5.jpg'></button>
        </form>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<div class="button">
<a href="/planets/new"><button>Do you know of any other worlds out there?</button></a>
</div>
