<div class="content">

  <h2>Who are you going to see tonight?</h2>

    <div class='right'>

      <h3><%= @artist["name"] %></h3>

      <!-- Static information starts here: -->
      <!-- Youtube videos for featured songs appear here... -->

      <% case @artist["name"].downcase
      when "ana tijoux" %>
        <section class="video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/BN4k3mnJteo" frameborder="0" allowfullscreen></iframe>
        </section>

      <% when "avi avital" %>
        <section class="video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/beq7ZqXLvUE" frameborder="0" allowfullscreen></iframe>
        </section>

      <% when "gregory porter" %>
        <section class="video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/v6R9H84koxs" frameborder="0" allowfullscreen></iframe>
        </section>

      <% when "spoon" %>
        <section class="video">
        <iframe width="420" height="315" src="//www.youtube.com/embed/v28Gpp0WyRnQ" frameborder="0" allowfullscreen></iframe>
        </section>

      <% when "fatboy slim" %>
        <section class="video">
        <iframe width="420" height="315" src="//www.youtube.com/embed/4Kz10DpxJFM" frameborder="0" allowfullscreen></iframe>
        </section>

      <% when "fela kuti" %>
        <section class="video">
        <iframe width="420" height="315" src="//www.youtube.com/embed/Q76UngzHX5Y" frameborder="0" allowfullscreen></iframe>
        </section>

      <% else %>
        <section class="video">
          <img src="no-video-available.jpg" width="420" height="315" alt="No video available">
        </section>
      <% end %>


    <% case @artist["name"].downcase
      when "ana tijoux" %>
        <p>Tonight at Bowery Ballroom: 9pm. <br />6, Delancey Street</p>

      <% when "avi avital" %>
        <p>Tonight at Avery Fisher Hall, Lincoln Center: 7.30pm.<br />Broadway & West 64th Street.</p>

      <% when "gregory porter" %>
        <p>Tonight at Dizzie's, Jazz At Lincoln Center: 7pm, 9pm, 11pm.<br />Broadway & West 60th Street.</p>

      <% when "spoon" %>
        <p>Tonight at 'Celebrate Brooklyn!': 9pm<br />Prospect Park Bandshell, Prospect Park, Brooklyn.</p>

      <% when "fatboy slim" %>
        <p>Tonight at Terminal 5: 9pm.<br />610 West 56th St.</p>

      <% when "fela kuti" %>
        <p>Tonight,'Fela!' The Musical, at the Eugene O'Neill Theater: 7.30pm<br />230 West 49th Street.</p>

      <% else %>
        <p>No Gig in NYC tonight.</p>
      <% end %>

      <!-- Static information ends here. -->

    </div>


    <div class='left'>

      <table>

        <tr>
          <td><p>Country:</td><td><%= @artist["country"] %></p></td>
        </tr>
        <tr>
          <td><p>Type:</td><td><%= @artist["type"] %></p></td>
        </tr>
        <tr>
          <td><p>Born/Founded:</td><td><%= @artist["life_span"]["begin"] %></p></td>
        </tr>
        <tr>
          <td><p>Disambiguation:</td><td><%= @artist["disambiguation"] %></p></td>
        </tr>
        <tr>
          <td><p>more info <a href="http://en.wikipedia.org/wiki/<%= @artist["name"].gsub(' ','_') %>">here</a></p></td>
        </tr>

      </table>

    </div>


    <div class="albums">

      <% @release_groups.each do |release_group| %>

        <div class="album">

          <h3><%= release_group['title'] %></h3>

          <img src=<%= "http://coverartarchive.org/release-group/#{release_group['id']}/front.jpg" %> alt="Release Cover Image"width="220" height="175">

        </div>

      <% end %>

    </div>

</div>


