<form action="/squares" method='post'>
  <%= token_tag %>
  <input type="text" placeholder="side length" name='square[side_length]'>
  <input type="text" placeholder="border radius" name='square[border_radius]'>
  <input type="text" placeholder="color" name='square[color]'>
  <input type="submit">
</form>

<%= form_tag("/squares", method: "post") do %>
<%= label_tag("square[color]", "Color:") %>
<%= text_field_tag("square[color]") %>
<%= label_tag("square[border_radius]", "Border radius:") %>
<%= text_field_tag("square[border_radius]") %>
<%= label_tag("square[side_length]", "Side length:") %>
<%= text_field_tag("square[side_length]") %>
<%= submit_tag("Create square") %>
<% end %>

<h1>other form</h1>
<%= render 'form' %>
