

<div class="index show">
<h1>Here is <%= @planet.name %></h1>
  <table>
    <thead>
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Diameter (km)</th>
        <th>Mass (kg)</th>
        <th>Life</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ><img  style = "height: 100px;" src="<%= @planet  .image_url %>"></td>
        <td><%= @planet.name %></td>
        <td><%= @planet.diameter %></td>
        <td><%= @planet.mass %></td>
        <td><%= @planet.life %></td>
        <td>
          <form action="/planets/<%= @planet.id %>/edit" method = "get">
            <button type="submit">Edit</button>
          </form>
          <form action="/planets/<%= @planet.id %>" method = "post">
            <input type="hidden" name="_method" value="delete">
            <%=token_tag %>

            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
