
<div class="center2">
  <h1><span><%= @artist.capitalize %></span> can be found in: </h1>

  <div class="right">
    <p class=subtitle>COUNTRY => # of Bands with the name <span><%= @artist.capitalize %></span> in </i>that Country <br>
    <h2>
      <% @country_count.each do |key, value| %>
        <%= key %> => <%= value %> <br>
      <% end %>
    </h2>

    <p class="subtitle undef"> # with 'undefined' locations:</p><h2 class="undef"> <%= @undefin %></h2>
  </div>

  <div class="left">
 <!--  <span class="imgswap"> -->
    <img class="world" src="http://images.fineartamerica.com/images-medium-large/world-map-paint-drop-michael-tompsett.jpg" alt="THE WORLD!!">
 <!--  </span> -->
  </div>
</div>

<div class="bottom">
      <div class="bubble_back2">
      <div class="bubble">
        <form action="/artist" method="get">
          <input type="text" name="artist" placeholder="Pick an artist">
          <input type="submit">
        </form>
      </div>
    </div>



